header {
    width: 100%;
	float: left;
	background: beige;
	padding: 25px 0px;
	}
.banner{
	width: 100%;
	float: left;
}
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.banner img{
    width: 100%;
    float: left;
}
.about{
	width: 100%;
	float: left;
	text-align: center;
	background: beige;
}
.about h1{
	margin-top: 70px;
}
.about p{
        padding: 25px 203px;
        margin-bottom: 60px;
}
.service{
	width: 100%;
	float: left;
	background: #fff;
	text-align: center;
	margin: 20px 0px;
}
.one{
    
}
.fa.fa-mobile{background: aqua;
              padding: 10px 15px;}
           h3{margin: 10px 0px;
              font-size: 20px;}
   .service p{line-height: 18px;
              font-size: 15px;}
.two{

}
.fa.fa-rocket{background: aqua;
              padding: 10px 15px;}
           h3{margin: 10px 0px;
              font-size: 20px;}
   .service p{line-height: 18px;
              font-size: 15px;}

.three{

}
.fa.fa-bullhorn{background: aqua;
                padding: 10px 15px;}
             h3{margin: 10px 0px;
                font-size: 20px;}
     .service p{line-height: 18px;
                font-size: 15px;}